.section-title {
  color: #252c41;
  font-weight: 700;
}
.offer-body {
  height: 190px;
}

.card-btn {
  border: 2px solid #f05b43;
  outline: none;
  padding: 5px 15px;
  color: black;
  background: transparent;
  font-weight: 600;
  transition: 0.5s;
}

.card-btn:hover {
  background: #f05b43;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.name {
  color: #f05b43;
}
.duration {
  font-size: 13px;
  color: #f05b43;
}
.location {
  color: #f05b43;
}
.img-section {
  overflow: hidden;
}
.img-section img {
  transition: 0.5s;
}
.offer-card:hover .img-section img {
  transform: scale(1.1);
}
.offer-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.spinner-section {
  margin-top: 100px;
  margin-bottom: 100px;
}
